<!DOCTYPE html>
<html lang="en-US">

<% include ../partials/header.ejs %>
        <div>
            <a class="button_horizontal" href="/addsession">Add | </a>      
            <a class="button_horizontal" href="/editsession">Edit |</a>
            <a class="button_horizontal" href="/deletesession">Delete</a>
        </div>
        <div id="menuTabsContent" class="tab-content">
            <div class="tab-pane fade show active" id="session" role="tabpanel">
            <div class="container">
                    <% if (message != '') { %>
                        <p class="text-center text-danger"><%= message %></p>
                    <% } %>
                    <form class="edit-Session-form" action="" method="post" enctype="multipart/form-data">
                        <div class="form-column">
                            <div class="form-group col-md-4">
                            <label>Exisiting Session Title</label>&nbsp;<br />
                            <select name="session_dropdown" id="title-dropdown" style="border-color: #ced4da; border-width: 1px;">
                                    <% session.forEach((session, editsession) => { %>
                                        <option name="session_dropdown" id="session-dropdown"><%= session.Title %></option>
                                    <% }) %>
                            </select>
                            <br/><label>New Session Title</label>&nbsp;
                            <input type="text" class="form-control" name="session_name" id="session-name" placeholder="Session Title" required>
                            
                            <label>Session Room</label>&nbsp;<br />
                            <select name="room_dropdown" id="room-dropdown" style="border-color: #ced4da; border-width: 1px;">
                                    
                                    <% room.forEach((room, editroom) => { %>
                                        <option name="room_dropdown" id="room-dropdown"><%= room.RoomName %></option>
                                    <% }) %>
                            </select>
                            <br /><label>Session Speaker</label>&nbsp;<br />
                            <select name="speaker_dropdown" id="speaker-dropdown" style="border-color: #ced4da; border-width: 1px;">
                                    <% speaker.forEach((speaker, editspeaker) => { %>
                                        <option name="speaker_dropdown" id="speaker-dropdown"><%= speaker.Email %></option>
                                    <% }) %>
                            </select>
                            <br /><label>Session Time</label>&nbsp;<br />
                            <select name="exisiting_time_dropdown" id="exisiting_time-dropdown" style="border-color: #ced4da; border-width: 1px;">
                                    <% time.forEach((time, edittime) => { %>
                                        <% 
                                        start_time = time.TimePoint_Start;
                                        end_time = time.TimePoint_End;
                                        start_time_split = start_time.split(":")
                                        end_time_split = end_time.split(":")
                                        if(start_time > 12){
                                            start_time = parseInt(start_time) - 12;
                                            start_time = "0"+start_time.toString() + ":"+ start_time_split[1] + ":00:PM"
                                        }
                                        else{
                                            start_time = start_time + ":AM"
                                        }
                                        if( parseInt(end_time) > 12){
                                            end_time = parseInt(end_time) - 12;
                                            end_time = "0"+end_time.toString() + ":"+ end_time_split[1] + ":00:PM"
                                        }
                                        else{
                                            end_time = end_time + ":AM"
                                        }
                                        %>
                                        <option name="exisiting_time_dropdown" id="time-dropdown"><%= start_time+"-"+end_time %></option>
                                    <% }) %>
                            </select>
                        </div>   
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Edit Session</button>
                    </form>
                </div>

        </div>
    </main>
    <script>
        $('#editable-select').editableSelect();
    </script>
  </body>
</html>