<!DOCTYPE html>
<html lang="en-US">
<% include ../partials/header1.ejs %>

<div>
    <h1 style="text-align:center;font-family: Oswald;margin-top:30px;">View Counts</h1>
	<label style="display: block; text-align: center; line-height: 150%; padding-bottom: 0;">Select a session or a speaker:</label>&nbsp;<br />
	<ul class="nav nav-pills" style="margin-top: 0;">
            <li class="nav-item">
                <a class="nav-link active" href="viewcounts_session">Session</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewcounts_speaker">Speaker</a>
            </li>       
    </ul>
    <div class="container">
		<% if (counts.length > 0) {%>
			<table class="table table-sm table-hovered">
				<thead class="thead-light">
					<tr>
						<th scope="col">Session Title</th>
						<th scope="col">Room Name</th>
						<th scope="col">Start Time</th>
						<th scope="col">End Time</th>
						<th scope="col">Start Count</th>
						<th scope="col">Mid Count</th>
						<th scope="col">Final Count</th>
					</tr>
				</thead>
				<tbody>
					<% counts.forEach((count, index) => { %>
						<tr>
							<td><%= count.Title %></td>
							<td><%= count.RoomName %></td>
							<td><%= count.TimePoint_Start %></td>
							<td><%= count.TimePoint_End %></td>
							<td><%= count.StartCount %></td>
							<td><%= count.MidCount %></td>
							<td><%= count.FinalCount %></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		<% } else { %>
			<p class="text-center">No counts found</p>
		<% } %>
	</div>
</body>

</html>